name: Release

on:
  push:
    tags:
      - 'v*'

jobs:
  release:
    permissions:
      contents: write
    strategy:
      fail-fast: false
      matrix:
        platform: [windows-latest]

    runs-on: ${{ matrix.platform }}
    
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install Rust stable
        uses: dtolnay/rust-toolchain@stable

      - name: Install dependencies
        run: npm install

      - name: Build Tauri App
        uses: tauri-apps/tauri-action@v0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          TAURI_SIGNING_PRIVATE_KEY: dW50cnVzdGVkIGNvbW1lbnQ6IHJzaWduIGVuY3J5cHRlZCBzZWNyZXQga2V5ClJXUlRZMEl5OVBvK1IvSC9iK3d1RW5WVTRjY0ZpNGNFemlvU0lOVk15dk5xdWVHQTJRb0FBQkFBQUFBQUFBQUFBQUlBQUFBQUFpYVU0QjNSZ25PdzEveWpTMEFKWCtQd2ZwTTJzRXA2WkF5cGpXUXRUQjVaUUtEY0daMGNWVDZTMlpxeU5ITGxvOGhhL2lSV3J4ejFhMGpYdHR6bHJpbjB0L0NGMEVTdGs0bXIvOVAwWitBNFpjQkMvaDRMNU9QOFE0eDdKNG8wb1FxSWt3VlVBaHM9Cg==
          TAURI_SIGNING_PRIVATE_KEY_PASSWORD: ""
        with:
          tagName: ${{ github.ref_name }}
          releaseName: 'CropGemini ${{ github.ref_name }}'
          releaseBody: |
            ## Có gì mới
            - Xem [changelog](https://github.com/quemanhmcr/crop-gemini/blob/main/CHANGELOG.md)
            
            ## Cài đặt
            Tải file `.exe` bên dưới và chạy để cài đặt.
          releaseDraft: false
          prerelease: false
          includeUpdaterJson: true
